{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="modal active">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Iniciar Sesión</h2>
    </div>

    <form method="POST">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" name="password" required>
      </div>

      <button class="btn-login" onclick="openLogin()">Iniciar Sesión</button>

    </form>
  </div>
</div>

{% endblock %}
