{% extends "base.html" %}

{% block content %}

<!-- BANNER SUPERIOR -->
<section class="page-banner--plain">
    <div class="page-banner-inner">
        <h1>Quiénes Somos</h1>
        <p>Comprometidos con la eficiencia y la continuidad asistencial</p>
    </div>
</section>

<!-- BLOQUE INTRODUCCIÓN -->
<section class="page-content">
    <div class="info-split">

        <!-- TEXTO -->
        <div class="info-text">
            <h2>Nuestra Misión</h2>
            <p>
                Gestión de Camas es una plataforma tecnológica diseñada para apoyar
                a clínicas, hospitales, isapres y centros de salud en la gestión
                eficiente de recursos críticos, facilitando el traslado seguro de
                pacientes y asegurando la trazabilidad completa de la información clínica.
            </p>

            <p>
                Nuestro objetivo es reducir tiempos de espera, optimizar costos
                operacionales y mejorar la experiencia tanto de pacientes como
                del personal clínico y administrativo.
            </p>
        </div>

        <!-- IMAGEN -->
        <div class="info-image">
            <img src="/static/img/gestion.jpg" alt="Gestión Clínica">
        </div>

    </div>
</section>

<!-- EQUIPO -->
<section class="section" style="background:#eef5fb;">
    <div class="page-content">
        <h2 class="team-title" style="text-align: center;" >Nuestro Equipo</h2>


        <div class="team-grid">
            <div class="team-card">
                <img src="/static/img/hombre.jpg" alt="Director">
                <h3>Jorge</h3>
                <span>Director </span>
            </div>

            <div class="team-card">
                <img src="/static/img/mujer.jpg" alt="Directora">
                <h3>María</h3>
                <span>Directora </span>
            </div>
        </div>
    </div>
</section>

{% endblock %}
